@use "../../scss/abstracts" as *;

//* 此處放置 .movies-cards、.movies-card 卡片佈局設定

// 卡片之間的 column-gap
$movie-cards-column-gap: 1.25rem;
// 每列在特定斷點分別要容納幾張卡片?
$movie-cards-card-amount: (
  default: 6,
  xl: 5,
  lg: 4,
  md: 3,
  sm: 2,
);
// 每列在特定斷點分別有幾個 gap?
$movie-cards-gap-amount: (
  default: 5,
  xl: 4,
  lg: 3,
  md: 2,
  sm: 1,
);

//* MoviesCard 容器
.movies-cards {
  @include cards($movie-cards-column-gap);
}

//* MoviesCard 連結
.movies-card-link {
  @include card($movie-cards-column-gap, $movie-cards-card-amount, $movie-cards-gap-amount);
  animation: scale map-get($transition, 500);
}

//* MoviesCard 項目
.movies-card {
  $block: &;
  position: relative;
  transition: map-get($transition, 300);
  transition-property: transform, box-shadow;
  border-radius: 1rem;
  // hover 狀態
  @include hover-query {
    &:hover {
      position: relative;
      z-index: 20;
      transform: scale(1.15);
      box-shadow: map-get($box-shadow, base);
      @include md {
        transform: none;
      }
      // card 圖片暗色背景
      &::before {
        opacity: 1;
      }
      // .movies-card__text
      #{$block}__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  //* 卡片暗色遮蓋
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: map-get($color, overlay);
    opacity: 0;
    transition: map-get($transition, 300);
    transition-property: opacity;
    @include md {
      visibility: hidden;
      opacity: 0;
    }
  }

  //* .movies-card__img
  &__img {
    width: 100%;
    border-radius: map-get($border-radius, md);
  }

  //* movies-card__btn
  &__btn {
    @include card-btn;
    transition: map-get($transition, 150);
    transition-property: transform;
    &.hide {
      // 預設會先套用 hide class，確保圖片 onload 後才顯示
      transform: scale(0);
    }
  }

  //* movies-card__text
  &__text {
    position: absolute;
    z-index: 5;
    bottom: 25%;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all ease-in-out 300ms;
    visibility: hidden;
    opacity: 0;
    @include md {
      position: static;
      visibility: visible;
      opacity: 1;
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem;
      transition: map-get($transition, 300);
      // 預設會先套用 hide class，確保圖片 onload 後才顯示
      &.hide {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  //* movies-card__title
  &__title {
    @include text(base);
    // 斷點 < md 以下開始限制行數
    @include md {
      @include ellipsis-text(2);
    }
  }

  //* movies-card__info
  &__info {
    @include flex($wrap: wrap);
    @include text(xs);
    column-gap: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    @include md {
      // 斷點 md 以下隱藏
      display: none;
    }
    // 日期
    & > :nth-child(1) {
      margin-right: 0.5rem;
    }
    // 評等
    & > :nth-child(2) {
      // 星星 icon
      i {
        @include text(xs);
        margin-right: 0.25rem;
      }
    }
  }
}
