@use "../abstracts" as *;

.btn {
  @include button-reset();
  cursor: pointer;
  font-weight: bold;
  transition: map-get($transition, 150);
  transition-property: color, background-color;

  &--lg {
    @include text(xl);
    padding: 1rem 2rem;
    border-radius: map-get($border-radius, base);
  }

  &--black {
    background-color: map-get($color, secondary);
    color: map-get($color, primary);

    &:hover {
      @include hover-bg-color(map-get($color, secondary));
    }
  }

  &--red {
    background-color: map-get($color, tertiary);
    color: map-get($color, primary);

    &:hover {
      @include hover-bg-color(map-get($color, tertiary))
    }
  }
}
