@use "../abstracts" as *;

.btn {
  @include button-reset();
  cursor: pointer;
  font-weight: bold;
  transition: map-get($transition, 150);
  transition-property: color, background-color;

  &--lg {
    @include text(xl);
    padding: 1rem 1.75rem;
    border-radius: map-get($border-radius, base);

    @include lg {
      @include text(lg);
      padding: 0.75rem 1.5rem;
    }

    @include md {
      @include text(lg);
      padding: 0.7rem 1.25rem;
    }

    @include sm {
      @include text(sm);
      
    }
  }

  &--black {
    background-color: map-get($color, secondary);
    color: map-get($color, primary);
    &:hover {
      @include hover-bg-color(map-get($color, secondary));
    }
  }

  &--transparent {
    background-color: transparent;
    color: map-get($color, primary);
    border: 1px solid map-get($color, primary);
    
    &:hover {
      @include hover-bg-color(map-get($color, secondary));
    }
  }

  &--red {
    background-color: map-get($color, tertiary);
    color: map-get($color, primary);

    &:hover {
      @include hover-bg-color(map-get($color, tertiary))
    }
  }
}
