@use "../abstracts" as *;

.btn {
  @include button-reset();
  cursor: pointer;

  &--lg {
    padding: 1rem 2rem;
  }

  &--black {
    @include text(xl);
    font-weight: bold;
    background-color: map-get($color, secondary);
    color: map-get($color, primary);
    border-radius: map-get($border-radius, base);
    transition: map-get($transition, 150);
    // transition: 250ms ease-in-out;
    transition-property: color, background-color;

    &:hover {
      background-color: map-get($color, secondary-hover);
    }
  }
}
