@use "../abstracts" as *;

.detail-cards {
  margin-top: 4rem;
}

.detail-card {
  $block: &;
  @include flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #333;
  
  @include sm {
    flex-direction: column;
    width: 100%;
    max-width: 20.625rem;
    margin: 0 auto;
  }

  &__poster {
    width: 100%;
    max-width: 9.375rem;
    border-radius: map-get($border-radius, base);
    align-self: start;

    @include sm {
      max-width: none;
    }
  }

  &__texts {
    @include flex($dir: column);
    margin-left: 2rem;

    @include sm {
      row-gap: 0.75rem;
      margin-left: 0;
      margin-top: 1.5rem;
    }

    #{$block}__link {
      align-self: flex-start;
    }
  }

  &__link {
    flex-shrink: 0;
  }

  &__title {
    @include text(3xl);

    @include sm {
      @include text(2xl);
    }
  }

  &__genres-tag-wrapper {
    margin-top: 1rem;

    @include sm {
      display: none;
    }
  }

  &__info {
    @include flex;
    margin-top: 0.5rem;

    @include sm {
      flex-direction: column;
      row-gap: 0.5rem;
    }
  }

  &__vote,
  &__runtime {
    @include sm {
      display: none;
    }
  }

  &__btn {
    margin-top: 2rem;
    align-self: flex-start;

    @include sm {
      margin-top: auto;
    }
  }
}
