@use "../abstracts" as *;

.genres-swiper {
  .container{
    &:hover{
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .swiper-scrollbar-drag {
    background-color: map-get($color, active);
    height: 1px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
    visibility: hidden;
    top: 50%;
    transition-property: oopacity, visibility;
    transition: map-get($transition, 300);

    &::after {
      @include flex($ai: center, $jc: center);
      @include text(xs);
      flex-shrink: 0;
      width: 1.75rem;
      height: 1.75rem;
      background-color: #fcfcfcbf;
      border-radius: 50%;
      color: map-get($color, secondary);
      font-weight: bold;
    }
  }
}



.slide-link {
  $bolck: &;
  @include flex($dir: column, $ai: center);
  border-radius: map-get($border-radius, base);
  width: 100%;
  max-width: 80px;
  padding: 0.5rem 0;
  text-align: center;

  &:hover {
    #{$bolck}__icon,
    #{$bolck}__name {
      color: map-get($color, active);
    }
  }

  &--active{
    color: map-get($color, active);
  }

  &__icon {
    @include text(2xl);
    transition: color map-get($transition, 200);
  }

  &__name {
    @include text(base);
    margin-top: 0.5rem;
    transition: color map-get($transition, 200);
  }
}
