@use "../abstracts" as *;

.header {
  @include flex($ai: center);
  position: sticky;
  top: 0;
  z-index: 30;
  height: deep-map-get($height, header, lg);
  flex: 1 0 auto;
  padding-left: deep-map-get($x-spacing, lg);
  padding-right: deep-map-get($x-spacing, lg);
  border-bottom: 1px solid rgb(213, 108, 80);
  background-color: map-get($color, secondary);
  transition: map-get($transition, 300), map-get($transition, 500);
  transition-property: transform, background-color, border-color;

  // &--scrolling {
  //   background-color: map-get($color, overlay);
  //   border-bottom-color: transparent;
  // }

  @include md {
    justify-content: space-between;
    padding: 0 deep-map-get($x-spacing, sm);
  }

  @include sm {
    height: deep-map-get($height, header, sm);
  }

  &__logo {
    @include text(2xl);
    white-space: nowrap;
    font-weight: bold;
    color: map-get($color, tertiary);

    @include sm {
      @include text(xl);
    }

    i {
      margin-right: 0.5rem;
    }
  }

  &__menu-btn {
    @include flex($dir: column, $jc: space-between);
    @include button-reset();
    display: none;

    div {
      width: 1.75rem;
      height: 0.125rem;
      background-color: map-get($color, "primary");
      pointer-events: none;
      transition: map-get($transition, 300);
      transition-property: transform, opacity;
      pointer-events: none;

      &:not(:first-child) {
        margin-top: 6px;
      }
    }

    &.active div {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(0);
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    i {
      pointer-events: none;
    }

    @include md {
      @include text(2xl);
      display: block;
      cursor: pointer;
      color: map-get($color, primary);
    }
  }
}

.nav {
  @include flex($ai: center);
  position: relative;
  flex: 1 0 auto;
  column-gap: 1.5rem;
  margin-left: 3.5rem;

  // @for $i from 1 through 6 {
  //   & > :nth-child(#{$i}) {
  //     animation: slide-right 850ms ease-in-out #{$i * 50}ms;
  //   }
  // }

  @include md {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: deep-map-get($height, header, lg);
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100vh;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.5rem;

    padding: 3rem 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.8);

    transition: map-get($transition, 500);
    transition-property: visibility, opacity;
  }

  @include sm {
    top: deep-map-get($height, header, sm);
  }

  &--open {
    @include md {
      opacity: 1;
      visibility: visible;

      @for $i from 1 through 6 {
        & > :nth-child(#{$i}) {
          animation: slide-left 850ms ease-in-out #{$i * 50}ms forwards;

          &::before {
            // nav-open 套用後，顯示 .nav__link::before 的底線
            opacity: 1;
          }
        }
      }
    }
  }

  &__link {
    @include text(base);
    position: relative;
    font-weight: bold;
    transition: color map-get($transition, 150);

    @include md {
      @include text(xl);
      // transform: translateX(100vw);
    }

    // * .nav__link hover 狀態
    @include hover-query() {
      &:hover {
        color: map-get($color, tertiary);

        &::before {
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }

    // * link 下方底線
    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transform-origin: center;
      transition: map-get($transition, 150);
      transition-property: transform;
      background-color: map-get($color, tertiary);
    }

    &.active {
      &::before {
        transform: scaleX(1);
        background-color: map-get($color, tertiary);
      }
    }

    &:nth-last-child(2) {
      margin-left: auto;

      @include md {
        margin-left: 0;
      }
    }
  }
}
