@use "../abstracts" as *;

.header {
  @include flex($ai: center);
  position: sticky;
  top: 0;
  z-index: 30;
  height: deep-map-get($height, header, lg);
  flex: 1 0 auto;
  padding-left: deep-map-get($x-spacing, lg);
  padding-right: deep-map-get($x-spacing, lg);
  background-color: map-get($color, secondary);
  border-bottom: 2px solid rgb(213, 108, 80);
  transition: transform map-get($transition, 300);

  &--hide {
    transform: translateY(-100%);
  }

  @include md {
    justify-content: space-between;
    padding: 0 deep-map-get($x-spacing, sm);
  }

  @include sm {
    height: deep-map-get($height, header, sm);
  }

  &__logo {
    @include text(2xl);
    white-space: nowrap;
    font-weight: bold;
    color: map-get($color, tertiary);

    @include sm {
      @include text(2xl);
    }

    i {
      margin-right: 0.5rem;
    }
  }

  &__menu-btn {
    @include button-reset();
    display: none;

    &--nav-open {
      position: fixed;
      z-index: 10;
      @include md {
        right: deep-map-get($x-spacing, sm);
      }

      @include sm {
        right: deep-map-get($x-spacing, sm);
      }
    }

    i {
      pointer-events: none;
    }

    @include md {
      @include text(2xl);
      display: block;
      cursor: pointer;
      color: map-get($color, primary);
    }
  }
}

.nav {
  @include flex($ai: center);
  flex: 1 0 auto;
  column-gap: 1.5rem;
  margin-left: 3.5rem;
  position: static;

  @include md {
    position: fixed;
    top: 0;
    left: 0;

    // left: 100%;
    // left: 50%;
    z-index: 5;

    // height: calc(100vh - deep-map-get($height, header, lg));
    // width: 100vw;
    // height: 100vw;
    width: 100%;
    height: 100vh;
    // background-color: red;
    // width: 250vw;
    // height: 250vw;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;

    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;

    background-color: map-get($color, secondary);

    // visibility: hidden;
    // opacity: 0;
    transition: transform map-get($transition, 500);
    transform: scaleY(0);
    // transform-origin: top right;
    // transition: map-get($transition, 500);
    // transition-property: transform, opacity, visibility;

    // transition-property: all;
    // transition: transform 500ms, border-radius 1000ms;
  }

  @include sm {
    top: deep-map-get($height, header, sm);
  }

  &--open {
    @include md {
      border-radius: 0;
      transform: scaleY(1);
      visibility: visible;
      opacity: 1;
    }
  }

  &__link {
    position: relative;
    @include text(base);
    font-weight: bold;
    transition: color map-get($transition, 150);

    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-color: rgb(213, 108, 80);
      transform: scaleX(0);
      transition: transform map-get($transition, 150);
    }

    @include hover-query() {
      &:hover {
        color: map-get($color, tertiary);

        &::before {
          transform: scaleX(1);
          transform-origin: center;
        }
      }
    }

    &.active {
      &::before {
        content: "";
        position: absolute;
        bottom: -3px;
        height: 2px;
        width: 100%;
        transform: scaleX(1);
        background-color: rgb(213, 108, 80);
      }
    }

    &:nth-last-child(2) {
      margin-left: auto;

      @include md {
        margin-left: 0;
      }
    }
  }
}
