@use "../abstracts" as *;

.movie-swiper {
  // 底部分頁 bullet
  .swiper-pagination {
    bottom: -0.5rem;
    @include md {
      display: none;
    }
  }
  // 使 .movie-swiper 下方的 bullets 跟其上方文字產生間隔
  .swiper-wrapper {
    padding-bottom: 1.5rem;
    @include md {
      padding-bottom: 0;
    }
  }
}

.movie-slide {
  // swiper 電影圖片連結
  &__img-link {
    display: inline-block;
    overflow: hidden;
    border-radius: map-get($border-radius, base);
  }

  // swiper 電影圖片
  &__img {
    width: 100%;
    // swiper backdrop 預設為顯示，直到螢幕 <= 768px 後隱藏
    &--backdrop {
      @include md {
        display: none;
      }
    }
    // swiper poster 預設為隱藏，直到螢幕 <= 768px 後隱藏顯示
    &--poster {
      display: none;
      @include md {
        display: inline-block;
      }
    }
  }

  // swiper 電影名稱連結
  &__title-link {
    display: inline-block;
    margin-top: 0.5rem;
    // breakpoint <= 768 隱藏標題連結文字
    @include md {
      display: none;
    }
  }

  // swiper 電影名稱
  &__title {
    @include text(lg);
    font-weight: 400;
  }
}
