@use "../abstracts" as *;

//* .movies-cards 卡片佈局設定
// 卡片之間的 column-gap
$column-gap: 1.5rem;
// 每列在特定斷點分別要容納幾張卡片?
$card-amount: (
  default: 6,
  xl: 5,
  lg: 4,
  md: 3,
  sm: 2,
);
// 每列在特定斷點分別有幾個 gap?
$gap-amount: (
  default: 5,
  xl: 4,
  lg: 3,
  md: 2,
  sm: 1,
);

.movies-cards {
  @include cards($column-gap);
}

.movies-card-link {
  animation: scale map-get($transition, 500);
  @include card($column-gap, $card-amount, $gap-amount);
}

.movies-card {
  $block: &;
  transition: map-get($transition, 300);
  transition-property: transform, box-shadow;
  cursor: pointer;

  @include hover-query() {
    &:hover {
      position: relative;
      z-index: 20;
      transform: scale(1.25);
      box-shadow: map-get($box-shadow, base);

      @include md {
        transform: none;
      }

      // card 圖片暗色背景
      &::before {
        opacity: 1;
      }

      #{$block}__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // 卡片暗色遮蓋
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: map-get($transition, 300);
    transition-property: opacity;

    @include md {
      visibility: hidden;
      opacity: none;
    }
  }

  &__img {
    width: 100%;
    border-radius: map-get($border-radius, base);
  }

  &__text {
    position: absolute;
    z-index: 5;
    bottom: 25%;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all ease-in-out 300ms;
    visibility: hidden;
    opacity: 0;

    @include md {
      position: static;
      visibility: visible;
      opacity: 1;
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem;
    }
  }

  &__title {
    @include text(base);
  }

  &__info {
    @include flex($wrap: wrap);
    @include text(sm);
    margin-top: 0.5rem;

    @include md {
      display: none;
    }

    // 日期
    & > :nth-child(1) {
      margin-right: 0.5rem;
    }

    // 評等
    & > :nth-child(2) {
      @include text(sm);
      i {
        margin-left: 0.25rem;
      }
    }
  }
}
