@use "../abstracts" as *;

// * 卡片之間的 gap (主要是指 column-gap)
$gap: 1.5rem;

.movies-cards {
  // ! 註解的都是已經移出的
  // @include flex($wrap: wrap);
  // margin-top: 4rem;
  // gap: $gap;

  @include sm {
    gap: 2.5rem;
  }
}

.movies-card-link {
  animation: scale map-get($transition, 500);

  // @
  // max-width: calc(20% - ($gap * 4) / 5);

  // @include xl {
  //   max-width: calc(25% - ($gap * 3) / 4);
  // }

  // @include lg {
  //   max-width: calc(33.3% - ($gap * 2) / 3);
  // }

  // @include md {
  //   max-width: calc(50% - ($gap * 1) / 2);
  // }

  // @include sm {
  //   margin-left: auto;
  //   margin-right: auto;
  //   max-width: deep-map-get($card-size, width, sm);

  //   &:not(:first-child) {
  //     border-top: 1px solid map-get($color, primary-light);
  //     padding-top: 2.5rem;
  //   }
  // }
}

.movies-card {
  $block: &;
  position: relative;
  transition: 200ms ease-in-out;
  transition-property: transform, box-shadow;
  cursor: pointer;

  overflow: hidden;
  border-radius: map-get($border-radius, base);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: all 300ms ease-in-out;

    @include sm {
      // 行動裝置不需要顯示
      display: none;
    }
  }

  @include hover-query() {
    &:hover {
      z-index: 20;
      transform: scale(1.25);
      box-shadow: 0 10px 20px 3px #000000;

      @include sm {
        transform: none;
      }

      // card 圖片暗色背景
      &::before {
        opacity: 1;
      }

      #{$block}__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__img {
    width: 100%;

    @include sm {
      border-radius: map-get($border-radius, base);
    }
  }

  &__text {
    position: absolute;
    z-index: 5;
    bottom: 25%;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all ease-in-out 300ms;
    visibility: hidden;
    opacity: 0;

    @include sm {
      position: static;
      visibility: visible;
      opacity: 1;
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem;
    }
  }

  &__title {
    @include text(2xl);
  }

  &__info {
    @include flex;
    margin-top: 0.5rem;
  }

  &__vote {
    margin-left: 1rem;
  }
}
