@use "../abstracts" as *;

.movies-cards {
}

.movies-card-link {
  animation: scale map-get($transition, 500);

  @include sm {
    &:not(:first-child) {
      border-top: 1px solid map-get($color, primary-light);
      padding-top: 2.5rem;
    }
  }
}

// * 電影卡片
.movies-card {
  $block: &;
  position: relative;
  transition: map-get($transition, 150);
  transition-property: transform, box-shadow;
  cursor: pointer;
  overflow: hidden;
  border-radius: map-get($border-radius, base);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: map-get($color, overlay);
    opacity: 0;
    transition: map-get($transition, 300);
    transition-property: opacity, background-color;

    @include sm {
      // 行動裝置不需要顯示
      display: none;
    }
  }

  @include hover-query() {
    &:hover {
      z-index: 20;
      transform: scale(1.25);
      box-shadow: 0 10px 20px 3px #000000;

      @include md {
        transform: scale(1.1);
      }

      @include sm {
        transform: none;
      }

      // card 圖片暗色背景
      &::before {
        opacity: 1;
      }

      #{$block}__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__img {
    width: 100%;

    @include sm {
      border-radius: map-get($border-radius, base);
    }
  }

  &__text {
    position: absolute;
    z-index: 5;
    bottom: 25%;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all ease-in-out 300ms;
    visibility: hidden;
    opacity: 0;

    @include sm {
      position: static;
      visibility: visible;
      opacity: 1;
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem;
    }
  }

  &__title {
    @include text(2xl);
  }

  &__info {
    @include flex;
    margin-top: 0.5rem;
  }

  &__vote {
    margin-left: 1rem;
  }
}
