@use "../abstracts" as *;

.swiper {
  $block: &;
  user-select: none;

  @include hover-query {
    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  // 使 .movie-swiper 下方的 bullets 跟其上方文字產生間隔
  &.swiper-free-mode {
    #{$block}-wrapper {
      padding-bottom: 1.5rem;
      @include md {
        padding-bottom: 0;
      }
    }
  }

  // 底部分頁 bullet
  .swiper-pagination {
    bottom: -8px;

    @include md {
      display: none;
    }
  }

  // 左右切換按鈕(prev, next)
  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
    transform: translateY(-75%);
    // swiper 未 hover 的時候隱藏
    opacity: 0;
    visibility: hidden;

    margin-left: 1rem;
    margin-right: 1rem;
    transition: map-get($transition, 300);
    transition-property: opacity, visibility;

    @include md {
      display: none;
    }

    &::after {
      @include flex($ai: center, $jc: center);
      @include text(base);
      flex-shrink: 0;
      width: 2.5rem;
      height: 2.5rem;
      font-weight: bold;
      border-radius: 50%;
      background-color: #fcfcfcbf;
      color: map-get($color, secondary);
    }
  }

  &-pagination-bullet {
    background-color: map-get($color, primary);
  }

  &-button {
    &-prev,
    &-next {
      color: map-get($color, primary);
      top: calc(50% - 2rem); //@ 因為有底部的電影名稱，所以將 handler 做些調整，將其再往上調一點
    }
  }
}

.movie-swiper {
  margin-left: auto;
  margin-right: auto;

  .layout-title {
    @include md {
    }
  }
}

.movie-slide {
  width: 100%;
  // * swiper 圖片連結
  &__img-link {
    display: inline-block;
    overflow: hidden;
    border-radius: map-get($border-radius, base);
  }

  //* swiper 圖片
  &__img {
    width: 100%;

    // swiper backdrop 預設為顯示，直到螢幕 <= 768px 後隱藏
    &--backdrop {
      @include md {
        display: none;
      }
    }

    // swiper poster 預設為隱藏，直到螢幕 <= 768px 後隱藏顯示
    &--poster {
      display: none;
      @include md {
        display: inline-block;
      }
    }
  }

  //* swiper 電影名稱連結
  &__title-link {
    display: inline-block;
    margin-top: 0.5rem;

    // breakpoint <= 768 隱藏標題連結文字
    @include md {
      display: none;
    }
  }

  &__title {
    @include text(lg);
  }
}
