@use "../../scss/abstracts" as *;

.movie-detail {
  position: relative;

  //* 共通樣式設定
  // 除了首個 section 之外，其餘的 sectioni 都套用以下樣式:
  > section:not(:first-child) {
    margin-top: 7rem;
    @include md {
      margin-top: 5rem;
    }
  }

  .container {
    // .movie-detail 內所有 .container 套用 padding mixin
    @include x-spacing;
  }

  //* 各區塊標題
  .layout-title {
    @include flex;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid map-get($color, light-gray);
    &::before {
      content: "";
      display: block;
      width: 0.3125rem;
      margin-right: 1rem;
      background-color: map-get($color, tertiary);
    }
  }

  //* 各區塊內容區
  &__layout-content {
    margin-top: 1.5rem;
  }

  //* 頂部介紹區塊
  &__intro {
    display: grid;
    min-height: 100vh;
    @include md {
      // 斷點低於 md 後不限制 min-height
      min-height: auto;
    }
    // intro 內容器
    .container {
      @include flex($ai: center);
      grid-column: 1/2;
      grid-row: 1/2;
      @include lg {
        flex-direction: column;
        margin-top: 6rem;
      }
      @include md {
        margin-top: 5.5rem;
      }
    }
  }

  //* 電影 backdrop
  &__backdrop {
    overflow: hidden;
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
    z-index: -1;
    width: 100%;
    max-height: 85vh;
    @include lg {
      align-self: flex-start;
    }
    // backdrop img tag
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    // backdrop 遮蓋層
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0));
    }
  }

  //* 電影海報 <picture> tag
  &__poster {
    @include slow-show(1);
    // visibility: hidden;
    // opacity: 0;
    
    // <img /> tag
    &-img {
      width: 100%;
      max-width: 16.875rem;
      border-radius: map-get($border-radius, base);
      box-shadow: map-get($box-shadow, base);
      @include md {
        max-width: 12.5rem;
      }
    }
  }

  //* 文字區域
  &__texts {
    @include flex($dir: column, $jc: center);
    @include slow-show(5);
    row-gap: 1rem;
    margin-left: 4rem;
    width: 100%;
    max-width: 56.25rem;
    height: 100%;
    @include lg {
      margin-left: 0rem;
      margin-top: 3rem;
    }
    @include md {
      row-gap: 1.25rem;
      justify-content: start;
    }
    @include sm {
      margin-top: 2rem;
    }
  }

  //* 電影名稱(標題)
  &__title {
    @include text(5xl);
    @include lg {
      @include text(4xl);
    }
    @include md {
      @include text(3xl);
    }
  }

  //* 文字介紹
  &__overview {
    @include text(lg);
    @include lg {
      order: 5;
    }
    @include sm {
      @include text(lg);
      margin-top: 0.5em;
    }
  }

  //* 按鈕容器 (Watch Video & Add Watchlist)
  &__btns {
    @include flex;
    @include lg {
      order: 4;
    }
    @include sm {
      margin-top: 1rem;
      flex-direction: column;
    }
  }

  //* 按鈕
  &__btn {
    align-self: flex-start;
    @include sm {
      width: 100%;
    }
    // 除了第一個 btn
    &:not(:first-child) {
      margin-left: 2.5rem;
      @include lg {
        margin-left: 1rem;
      }
      @include sm {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
    //@ 統一設定 Add Watchlist 的 icon 大小(因為打勾與加號的 icon 大小不一)
    i {
      width: 1.125rem;
    }
  }

  //* cast (演員列表)
  &__cast {
    $block: &;
    .container {
      // 為了確保收合的過程中不要讓內容超出 .container 故加上 overflow
      overflow: hidden;
    }
    // cast 內容區
    &-content {
      position: relative;
      // 此 class 用於無 cast 資料的情況
      &.no-cast {
        // 將收合的按鈕(input checkbox)隱藏
        .expand-btn {
          display: none;
        }
        // 將遮蓋在 movie-detail__cast-cards 上的漸層隱藏
        .movie-detail__cast-cards::before {
          display: none;
        }
      }
    }

    //* 收合列表按鈕(實際上是用 checkbox 做的)
    &-btn {
      // 收合列表只發生在 breakpoint md 以下
      @include md {
        // 套用此 class 可使收合列表顯示
        &--show {
          display: flex;
        }
        // 當收合列表 checkbox 是 :checked 狀態
        &:checked {
          // checkbox 後面的 .movie-detail__cast-cards
          & + #{$block}-cards {
            max-height: 87.5rem;
            overflow-y: visible;
            &::before {
              opacity: 0;
            }
          }
        }
      }
    }

    //* 演員列表卡片容器
    &-cards {
      @include flex($wrap: wrap);
      row-gap: 2rem;
      @include md {
        max-height: 25rem;
        overflow-y: hidden;
        transition: map-get($transition, 500);
        transition-property: max-height;
        // 套用此 class 可使 movie-detail__cast-cards 啟用遮蓋
        &--has-overlay {
          padding-bottom: 4rem;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            transition: opacity map-get($transition, 500);
            background-image: linear-gradient(to bottom, transparent, black);
          }
        }
      }
    }

    //* 演員列表卡片
    &-card {
      @include flex($ai: center);
      width: 100%;
      max-width: 33.333%; // 3 欄
      @include xl {
        max-width: 50%; // 2 欄
      }
      @include md {
        max-width: 100%; // 1 欄
      }
    }
    //* 演員頭像
    &-img {
      width: 6.25rem;
      height: 6.25rem;
      @include rounded-full;
      object-fit: cover;
      flex-shrink: 0;
      @include lg {
        width: 4.5rem;
        height: 4.5rem;
      }
    }

    //* cast 文字區
    &-text {
      @include flex($dir: column);
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      // 演員名
      span:nth-child(1) {
        font-weight: bold;
        @include text(2xl);
        @include lg {
          @include text(xl);
        }
      }
      // 擔任角色名
      span:nth-child(2) {
        @include text(xl);
        color: map-get($color, primary-dark);
        @include lg {
          @include text(lg);
        }
      }
    }
  }

  //* video 嵌入區
  &__iframe-content {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    // 沒有 video 的情況下，將 padding-bottom 設為 0
    &--no-video {
      padding-bottom: 0;
    }
  }
  // movie-detail__iframe
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  //* Related Links (相關連結)
  &__related-links-content {
    @include flex;
  }
  // <a>
  &__related-link {
    @include flex($ai: center);
    @include text(lg);
    justify-self: start;
    @include sm {
      @include text(base);
    }
    @include hover-query {
      transition: color map-get($transition, 150);
      &:hover {
        color: map-get($color, tertiary);
      }
    }
    // home icon
    .fa-house {
      margin-right: 10px;
    }
    // link icon
    .fa-link {
      @include text(sm);
      margin-left: 5px;
    }
  }
}
