@use "../abstracts" as *;

.container {
    width: 100%;
    margin: 0 auto;
    max-width: map-get($max-width, default);

    @include xl {
        max-width: map-get($max-width, default);
    }

    @include lg {
        max-width: map-get($max-width, lg);
    }

    @include md {
        max-width: map-get($max-width, md);
    }

    @include sm {
        max-width: map-get($max-width, sm);
    }

    &--lg {
        max-width: none;
    }
}

.layout-title {
    @include text(4xl);

    @include sm {
        @include text(3xl);
    }
}

.empty-msg{
    @include text(xl);
}

// 目前用於無預告片時
.placeholder-text {
    @include text(2xl);
    margin-top: 2rem;
}

.genres-tag {
    @include text(sm);
    padding: 0.25em 0.8em;
    white-space: nowrap;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border-radius: 30px;

    &-wrapper {
        @include flex($wrap: wrap);
        row-gap: 0.75rem;
        column-gap: 0.75rem;
    }
}

.info {
    @include flex();
    column-gap: 1.5rem;
}

.vote {
    i {
        margin-left: 0.5rem;
    }
}