@use "../abstracts" as *;

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    text-decoration: none;
    line-height: 1.5;
}

body {
    color: deep-map-get($color, primary);
    background-color: black;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: deep-map-get($color, primary);
}

img {
    vertical-align: middle;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: map-get($spacing, lg);
    padding-right: map-get($spacing, lg);

    @include sm {
        padding-left: map-get($spacing, sm);
        padding-right: map-get($spacing, sm);
    }
}
