@use "../abstracts" as *;

.movie-detail {
  position: relative;

  &__intro {
    display: grid;
    height: calc(100vh - 90px);

    @include lg {
      height: auto;
    }
  }

  &__backdrop {
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    max-height: 80vh;

    @include lg {
      align-self: flex-start;
    }

    img {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.033), rgb(0, 0, 0));
      width: 100%;
      height: 100%;
      z-index: 5;
    }
  }

  &__content {
    @include flex;
    @include x-spacing;
    grid-column: 1/2;
    grid-row: 1/2;

    @include lg {
      margin-top: 8rem;
    }

    .container {
      @include flex($ai: center);

      @include xxl {
        // padding-left: map-get($spacing, lg);
      }

      @include lg {
        flex-direction: column;
      }
    }
  }

  &__poster {
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
    border-radius: map-get($border-radius, base);

    @include lg {
    }
  }

  &__texts {
    @include flex($dir: column, $jc: center);
    margin-left: 4rem;
    row-gap: 1rem;
    height: 100%;
    max-width: 56.25rem;

    @include lg {
      margin-left: 0rem;
      margin-top: 3rem;
    }
  }

  &__title {
    @include text(6xl);

    @include lg {
      @include text(5xl);
    }

    @include sm {
      @include text(4xl);
    }
  }

  &__overview {
    @include text(xl);

    // @ 如果需要限制行數，解除註解
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 3; /* 行數 */
    // -webkit-box-orient: vertical;
    // white-space: normal;
    // text-overflow: ellipsis;

    @include sm {
      @include text(lg);
    }
  }

  // * 按鈕 (Watch Trailer & Add Watchlist)
  &__btns {
    @include flex;
    margin-top: 1rem;
  }

  &__btn {
    align-self: flex-start;

    @include lg {
      &.btn--black {
        border: 1px solid map-get($color, primary);
      }
    }

    &:not(:first-child) {
      margin-left: 2.5rem;

      @include lg {
        margin-left: 1rem;
      }
    }

    // @ 統一設定 Add Watchlist 的 icon 大小(因為打勾與加號的 icon 大小不一)
    i{
      width: 1.125rem;
    }
  }

  // * Trailer (預告)
  &__trailer {
    @include x-spacing;
    margin-top: 4rem;
  }

  &__video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: 1.5rem;

    &--no-video {
      padding-bottom: 0;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  // * Similar Movies swiper (相似電影 swiper)
  &__similar {
    @include x-spacing;
    margin-top: 4rem;
    padding-bottom: 2rem;
  }
}
