@use "../abstracts" as *;

.search {
  @include main-layout;
  padding-left: 2.25rem;
  padding-right: 2.25rem;

  &__input {
    @include text(xl);
    @include flex;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: map-get($border-radius, base);
    margin: 0 auto;
  }

  &__result {
  }
}
