@use "../abstracts" as *;

.watchlist {
  @include main-layout;

  // watchlist__header
  &__header {
    @include flex($ai: center, $jc: space-between);
  }

  // 頂部切換連結容器
  &__links {
    @include flex($jc: center);
    border-radius: 0.3125rem;
  }

  // 頂部切換連結
  &__link {
    padding: 0.5em 1.2em;
    font-weight: bold;
    border: 1px solid map-get($color, tertiary);
    transition: background-color map-get($transition, 300);

    @include sm {
      @include text(xs);
    }

    @include hover-query {
      &:hover {
        @include hover-bg-color(map-get($color, tertiary));
      }
    }

    &.active {
      background-color: map-get($color, tertiary);
    }

    &:nth-child(2) {
      border-left: 0;
    }
  }
}

//* .watchcards 卡片佈局設定
// 卡片之間的 column-gap
$column-gap: 1.5rem;
// 每列在特定斷點分別要容納幾張卡片?
$card-amount: (
  default: 5,
  xl: 4,
  lg: 3,
  md: 3,
  sm: 2,
);
// 每列在特定斷點分別有幾個 gap?
$gap-amount: (
  default: 4,
  xl: 3,
  lg: 2,
  md: 2,
  sm: 1,
);

.watchcards {
  @include cards($column-gap);
}

.watchcard {
  $block: &;
  @include card($column-gap, $card-amount, $gap-amount);
  @include flex($dir: column);
  overflow: hidden;
  border-radius: map-get($border-radius, base);
  background-color: map-get($color, secondary);
  animation: scale map-get($transition, 500);

  @include md {
    position: relative;
    // 螢幕 < md 時套用 hamburger bar @mixin
    @include hamburger(
      $width: 0.875rem,
      $line-thickness: 0.125rem,
      $line-gap: 0.1875rem,
      $line-color: map-get($color, secondary)
    );
  }

  @include hover-query {
    &:hover {
      .watchcard__img::before {
        opacity: 1;
        visibility: visible;
      }
      #{$block} {
        &__title,
        &__btns {
          transform: translateY(0%);
        }
      }
    }
  }

  // 切換 watchcard option 的按鈕(僅在 breakpoint < md 出現)
  &__option-btn {
    display: none;
    @include button-reset();
    @include text(base);
    @include rounded-full;
    position: absolute;
    z-index: 11;
    right: 5%;
    top: 5%;
    width: 2.1875rem;
    height: 2.1875rem;
    color: map-get($color, secondary);
    background-color: map-get($color, primary);
    cursor: pointer;
    @include md {
      display: flex;
      &.active {
        // 控制 .watchcard__btns 內的每一個子元素位移
        & ~ .watchcard__content > #{$block}__btns {
          visibility: visible;
          opacity: 1;
          & > :nth-child(1) {
            transform: translateX(-150%);
          }
          & > :nth-child(2) {
            transform: translate(-125%, 125%);
          }
          & > :nth-child(3) {
            transform: translateY(150%);
          }
        }
        // 開啟暗色遮蓋
        & + .watchcard__img::before {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }

  // img 容器
  &__img {
    width: 100%;
    height: 100%;
    @include md {
      // 為了避免暗色遮蓋的覆蓋範圍向下延伸到 .watchcard__title 位置，
      // 故在螢幕寬度 < md 時(此時 .watchcard__title 會移至下方)，讓暗色遮蓋以此作為定位的參照。
      position: relative;
    }
    // 暗色遮蓋
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      visibility: hidden;
      transition: map-get($transition, 300);
      transition-property: visibility, opacity;
      @include md {
        // 在 < md 的裝置不需要 hover、不需要暗色遮蓋，但是當 .watchcard--option-open 被套用時，
        // 需要有暗色遮蓋。為了防止螢幕寬度 < md 時 hover 跑出暗色遮蓋，做以下調整:
        //   1.將暗色遮蓋完全顯示，並將顏色調成透明，此時即使 hover 也不會跑出暗色。
        //   2.transition-property 改成 background-color，在 .watchcard--option-onen 被套用時，
        //     使用改變顏色的方式來做出暗色遮蓋效果。
        opacity: 1;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0);
        transition-property: background-color;
      }
    }
    // <img/>
    img {
      border-radius: map-get($border-radius, base);
    }
  }

  // poster
  &__movie-poster {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  // watchcard__content
  &__content {
    @include flex($dir: column, $jc: space-between);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    @include md {
      position: static;
    }
    a {
      color: map-get($color, secondary);
    }
  }

  // watchcard__title
  &__title {
    @include text(2xl);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: map-get($color, primary);
    transform: translateY(-200%);
    transition: map-get($transition, 300);
    transition-property: transform;

    @include lg {
      @include text(3xl);
    }

    @include md {
      @include text(base);
      margin-top: 1rem;
      padding: 0;
      transform: none;
      transition: none;
      color: map-get($color, primary);
    }
  }

  // watchcard__btns
  &__btns {
    @include flex;
    width: 100%;
    margin-top: auto;
    background-color: #ffffffc9;
    transform: translateY(101%);
    transition: map-get($transition, 300);
    transition-property: transform;

    @include md {
      position: absolute;
      z-index: -1;
      right: 5%;
      top: 5%;
      visibility: hidden;
      opacity: 0;
      width: auto;
      border-top: 0;
      transform: none;
      transition: map-get($transition, 300);
      transition-property: visibility, opacity;
      background-color: transparent;

      // watchcard__btns 每個子層
      @for $i from 1 through 3 {
        & > :nth-child(#{$i}) {
          transition: map-get($transition, 300);
          transition-property: transform, opacity, visibility;
        }
      }
    }
  }

  // watchcard__btn
  &__btn {
    @include flex($dir: column, $ai: center);
    @include text(xs);
    padding: 0.5rem;
    flex: 1 0 auto;
    width: 33.3%;
    transition: map-get($transition, 300);
    transition-property: color, background-color;

    @include md {
      @include rounded-full;
      @include flex($jc: center, $ai: center);
      position: absolute;
      right: 0;
      width: 2.8125rem;
      height: 2.8125rem;
      font-size: 0;
      background-color: map-get($color, tertiary);
    }

    @include xs {
      width: 2.5rem;
      height: 2.5rem;
    }

    @include hover-query {
      &:hover {
        background-color: map-get($color, tertiary);
      }
    }

    // watchcard__btn 內的 <i> tag
    i {
      @include md {
        @include text(lg);
      }
    }

    // 除了第一個 watchcard__btn 外，其餘的每個元素套用以下樣式
    &:not(:first-child) {
      border-left: 1px solid;
      @include md {
        border-left: 0;
      }
    }

    // watchcard icon
    i {
      @include text(sm);
      font-weight: bold;
      @include md {
        @include text(lg);
      }
    }
  }
}
