@use "../../scss/abstracts" as *;

.home {
  position: relative;

  //* genres list
  &__genres-list {
    @include x-spacing;
    margin-top: 4rem;
  }

  //* genres item
  &__genres-item {
    @include flex($dir: column);

    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    .swiper {
      width: 100%;
      margin-top: 1.5rem;
      padding-top: 2rem;
      border-top: 1px solid map-get($color, light-gray);
    }
  }

  //* 各個 genres 區塊 link
  &__genres-link {
    @include flex($ai: center);
    align-self: start;
    // hover 狀態 i 的行為
    &:hover i {
      animation: x-moving map-get($transition, 300) infinite alternate;
    }
    // 向右箭頭
    i {
      @include text(xl);
      margin-left: 0.75rem;
      margin-top: 0.75rem;
    }
  }
}

//* hero
.hero {
  //* hero section swiper
  &__swiper {
    @include flex;
    width: 100%;
    // 底部動態 bullets
    .swiper-pagination-bullets-dynamic {
      margin-bottom: 0.5rem;
    }
  }

  //* hero section slide
  &__slide-link {
    $block: &;
    position: relative;
    display: block;
    height: 100%;
    text-align: left;
  }

  //* slide 圖片部分
  &__slide-imgs {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    @include lg {
      max-height: none;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(210deg, rgb(0 0 0 / 0%), rgba(0, 0, 0, 0.9));
      @include sm {
        background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgb(0, 0, 0));
      }
    }
  }

  //@ backdrop 將於 breakpoint <= md 時被隱藏，替換成 poster
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // img tag (backdrop)
    &--backdrop {
      @include md {
        display: none;
      }
    }
    // img tag (poster)
    &--poster {
      display: none;
      @include md {
        display: inline-block;
      }
    }
  }

  //* slide 文字部分
  //! 注意: 有關文字的 transition 相關設定在最底下
  &__slide-text {
    @include flex($dir: column, $jc: flex-end);
    @include x-spacing;
    row-gap: 1rem;
    column-gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;
    max-width: 50%;
    padding-bottom: 6rem;
    @include xl {
      max-width: 62.5rem;
    }
    // 選中所有的直接子層
    & > :nth-child(n) {
      opacity: 0;
      transform: translateY(-1.25rem);
      transition: map-get($transition, 800), map-get($transition, 1000);
      transition-property: transform, opacity;
    }
    // 按照 index 依序 transition-delay
    @for $i from 1 through 3 {
      & > :nth-child(#{$i}) {
        transition-delay: $i * 150ms, $i * 200ms;
      }
    }
    @include md {
      padding-bottom: 3rem;
    }
    @include sm {
      margin-left: 0;
      padding-left: map-get($x-spacing, sm);
      padding-right: map-get($x-spacing, sm);
    }
  }

  // 電影標題
  &__slide-title {
    @include text(5xl);
    @include lg {
      @include text(4xl);
    }
    @include sm {
      @include text(3xl);
    }
  }

  // 資訊(上映日期、評等)
  &__slide-info {
    @include flex($jc: flex-start);
    @include text(xl);
    font-weight: bold;
    i {
      margin-right: 1rem;
    }
    @include sm {
      @include text(lg);
    }
  }

  // 文字介紹
  &__slide-overview {
    max-width: 43.75rem;
    @include text(xl);
    @include lg {
      @include text(lg);
    }
    @include sm {
      @include text(base);
    }
  }
}

// 當 swiper 播放到當前的圖片時...
.swiper-slide-active {
  // 給予文字 transition 效果
  .hero__slide-text {
    // hero-slide 內的 3 個子元素依序出現
    @for $i from 1 through 3 {
      & > :nth-child(#{$i}) {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
