@use "../../scss/abstracts" as *;

.home {
  position: relative;

  //* genres list
  &__genres-list {
    @include flex($dir: column);
    @include x-spacing;
    margin-top: 4rem;
    @include md {
      row-gap: 2rem;
    }
  }

  //* genres item
  &__genres-item {
    @include flex($dir: column);
    .swiper {
      width: 100%;
      margin-top: 0.5rem;
      padding-top: 1rem;
      border-top: 1px solid map-get($color, light-gray);
    }
  }

  //* 各個 genres 區塊 link
  &__genres-link {
    @include flex($ai: center);
    align-self: start;
    @include hover-query {
      // hover 狀態 i 的行為
      &:hover i {
        animation: x-moving map-get($transition, 300) infinite alternate;
      }
    }
    // 向右箭頭
    i {
      @include text(lg);
      margin-left: 0.75rem;
      @include sm {
        @include text(sm);
      }
    }
  }
}

//* hero
.hero {
  //* hero section swiper
  &__swiper {
    @include flex;
    width: 100%;
    // 底部動態 bullets
    .swiper-pagination-bullets-dynamic {
      margin-bottom: 0.5rem;
    }
  }

  //* hero__slide-link (每一張 slide 都是 link)
  &__slide-link {
    $block: &;
    @include flex($dir: column);
    position: relative;
    height: 100vh;
    @media not all and (hover: hover) {
      height: var(--app-height);
    }
  }

  //* hero__slide-img-wrapper (圖片部分)
  &__slide-img-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    @include lg {
      max-height: none;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(210deg, rgb(0 0 0 / 0%), rgba(0, 0, 0, 0.9));
      @include md {
        background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgb(0, 0, 0));
      }
      @include sm {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
      }
    }
  }

  // hero__slide-img
  // 父層為 <picture>
  // - 在 breakpoint md 以上時，使用 backdrop
  // - 在 breakpoint md (含)以下時，使用 poster
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //* .hero__slide-text (文字部分)
  //! 注意: 有關文字的 transition 相關設定在最底下
  &__slide-text {
    @include flex($dir: column, $jc: flex-end);
    @include x-spacing;
    row-gap: 1rem;
    column-gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;
    max-width: 50%;
    padding-bottom: 6rem;
    @include xl {
      max-width: 62.5rem;
    }
    @include md {
    }
    @include sm {
      // position: static;
      // justify-content: flex-start;
      width: auto;
      // flex: 1 1 auto;
      margin-top: 2rem;
    }
    // 選中所有的直接子層
    & > :nth-child(n) {
      opacity: 0;
      transform: translateY(-1.25rem);
      transition: map-get($transition, 800), map-get($transition, 1000);
      transition-property: transform, opacity;
    }
    // 按照 index 依序 transition-delay
    @for $i from 1 through 3 {
      & > :nth-child(#{$i}) {
        transition-delay: $i * 150ms, $i * 200ms;
      }
    }
    @include md {
      padding-bottom: 3rem;
    }
    @include sm {
      margin-left: 0;
      padding-left: map-get($x-spacing, sm);
      padding-right: map-get($x-spacing, sm);
    }
  }

  // 電影標題
  &__slide-title {
    @include text(5xl);
    @include lg {
      @include text(4xl);
    }
    @include sm {
      // 限制電影標題行數最多 2 行
      @include ellipsis-text(2);
      @include text(3xl);
    }
  }

  // 資訊(上映日期、評等)
  &__slide-info {
    @include flex($jc: flex-start);
    @include text(xl);
    font-weight: bold;
    @include sm {
      @include text(base);
    }
  }

  // hero__slide-overview (文字介紹)
  &__slide-overview {
    max-width: 43.75rem;
    @include text(xl);
    @include lg {
      @include text(lg);
    }
    @include sm {
      @include text(base);
      // 限制文字介紹行數最多 5 行
      @include ellipsis-text(5);
    }
  }
}

// 當 swiper 播放到當前的圖片時...
.swiper-slide-active {
  // 給予文字 transition 效果
  .hero__slide-text {
    // hero-slide 內的 3 個子元素依序出現
    @for $i from 1 through 3 {
      & > :nth-child(#{$i}) {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
