@use "../../scss/abstracts" as *;

.genres-swiper {
  margin-top: 1rem;
  @include hover-query {
    &:hover {
      .swiper-scrollbar {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // scrollbar
  .swiper-scrollbar {
    opacity: 0;
    visibility: hidden;
    transition: map-get($transition, 300);
    transition-property: opacity, visibility;
    background-color: darken($color: map-get($color, tertiary), $amount: 30);

    // sm 開始 scrollbar 改為顯示
    @include sm {
      opacity: 1;
      visibility: visible;
      transition: none;
    }
  }

  // 底部滾動條握柄
  .swiper-scrollbar-drag {
    background-color: map-get($color, tertiary);
    height: 0.1875rem;
  }
}

// 每一個 genres 內的 icon 連結
.slide-link {
  $bolck: &;
  @include flex($dir: column, $ai: center);
  border-radius: map-get($border-radius, base);
  width: 100%;
  max-width: 5rem;
  padding: 0.5rem 0;
  text-align: center;
  @include hover-query {
    &:hover {
      #{$bolck}__icon,
      #{$bolck}__name {
        color: map-get($color, tertiary);
      }
    }
  }

  // active 樣式
  &.active {
    color: map-get($color, tertiary);
  }

  // 類別 icon
  &__icon {
    @include text(2xl);
    transition: color map-get($transition, 150);
    @include sm {
      @include text(xl);
    }
  }

  // 類別名稱
  &__name {
    @include text(sm);
    font-weight: bold;
    margin-top: 0.5rem;
    transition: color map-get($transition, 150);
  }
}
