@use "../../scss/abstracts" as *;

//* .movies-cards 卡片佈局設定
// 卡片之間的 column-gap
$movie-cards-column-gap: 1.25rem;
// 每列在特定斷點分別要容納幾張卡片?
$movie-cards-card-amount: (
  default: 6,
  xl: 5,
  lg: 4,
  md: 3,
  sm: 2,
);
// 每列在特定斷點分別有幾個 gap?
$movie-cards-gap-amount: (
  default: 5,
  xl: 4,
  lg: 3,
  md: 2,
  sm: 1,
);

.movies-cards {
  @include cards($movie-cards-column-gap);
}

.movies-card-link {
  @include card($movie-cards-column-gap, $movie-cards-card-amount, $movie-cards-gap-amount);
  animation: scale map-get($transition, 500);
}

.movies-card {
  $block: &;
  transition: map-get($transition, 300);
  transition-property: transform, box-shadow;
  border-radius: 1rem;
  overflow: hidden;
  @include hover-query {
    &:hover {
      position: relative;
      z-index: 20;
      transform: scale(1.25);
      box-shadow: map-get($box-shadow, base);
      @include md {
        transform: none;
      }
      // card 圖片暗色背景
      &::before {
        opacity: 1;
      }
      // .movies-card__text
      #{$block}__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // 卡片暗色遮蓋
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: map-get($transition, 300);
    transition-property: opacity;
    @include md {
      visibility: hidden;
      opacity: 0;
    }
  }

  // .movies-card__img
  &__img {
    width: 100%;
    border-radius: map-get($border-radius, md);
  }

  // movies-card__text
  &__text {
    position: absolute;
    z-index: 5;
    bottom: 25%;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all ease-in-out 300ms;
    visibility: hidden;
    opacity: 0;
    @include md {
      position: static;
      visibility: visible;
      opacity: 1;
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem;
    }
  }

  // movies-card__title
  &__title {
    @include text(base);
  }

  // movies-card__info
  &__info {
    @include flex($wrap: wrap);
    @include text(sm);
    column-gap: 0.5rem;
    margin-top: 0.5rem;
    @include md {
      display: none;
    }
    // 日期
    & > :nth-child(1) {
      margin-right: 0.5rem;
    }
    // 評等
    & > :nth-child(2) {
      @include text(sm);
      i {
        @include text(xs);
        margin-right: 0.25rem;
      }
    }
  }
}
