/* max-width */

$xl: 87.5rem;
$lg: 64rem;
$md: 48rem;
$sm: 36rem;
$xs: 30rem;

@mixin xl {
    @media (max-width: $xl) {
        @content;
    }
}

@mixin lg {
    @media (max-width: $lg) {
        @content;
    }
}

@mixin md {
    @media (max-width: $md) {
        @content;
    }
}

@mixin sm {
    @media (max-width: $sm) {
        @content;
    }
}

@mixin xs {
    @media (max-width: $xs) {
        @content;
    }
}
