// text
$text: (
  size: (
    xs: 0.75rem,
    sm: 0.875rem,
    base: 1rem,
    lg: 1.125rem,
    xl: 1.25rem,
    2xl: 1.5rem,
    3xl: 1.875rem,
    4xl: 2.25rem,
    5xl: 3rem,
    6xl: 3.75rem,
    7xl: 4.5rem,
  ),
  // spacing:(
  //   base:  0.15em,
  // ),,,
);

$max-width: (
  default: 1320px,
  xl: 1200px,
  lg: 1024px,
  md: 740px,
);


// color
$color: (
  primary: #fff,
  secondary: #000,
  tertiary: rgb(213, 108, 80),
  active: rgb(213, 108, 80),

  // #831e1e
);

// padding
$spacing: (
  sm: 1.5rem,
  // lg: 2.25rem,
  lg: 4rem,
);

// border-radius
$border-radius: (
  base: 10px,
);

$transition: (
  150: 150ms ease-in-out,
  300: 300ms ease-in-out,
  500: 500ms ease-in-out,
  800: 800ms ease-in-out,
);
