@use "./function" as *;
@use "./break-point" as *;
@use "./map" as *;

@mixin flex($dir: row, $jc: flex-start, $ai: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wrap;
}

// 檢查裝置是否支援hover，若有支援才執行此
@mixin hover-query() {
  @media (hover: hover) {
    @content;
  }
}

@mixin rounded-full {
  border-radius: 50%;
}

@mixin button-reset {
  background-color: transparent;
  border: 0;
  padding: 0;
}

// 用於設定文字大小
@mixin text($size) {
  font-size: deep-map-get($text, size, $size);
}

// 放入基本顏色，並以該顏色為基礎，將其暗化 20%，若其已經是最暗，則亮化 20%
@mixin hover-bg-color($current-bg-color) {
  @if (darken($current-bg-color, 20) == $current-bg-color) {
    background-color: lighten($current-bg-color, 20);
  } @else {
    background-color: darken($current-bg-color, 20);
  }
}


@mixin x-spacing {
  padding-left: map-get($spacing, lg);
  padding-right: map-get($spacing, lg);

  @include sm {
    padding-left: map-get($spacing, sm);
    padding-right: map-get($spacing, sm);
  }
}
