@use "../../scss/abstracts" as *;

.watchlist {
  @include main-layout;

  //* watchlist__header(watchlist 頂部區域)
  &__header {
    @include flex($ai: center, $jc: space-between);
  }

  //* 觀看狀態切換按鈕(容器)
  &__status-btns {
    @include flex($jc: center);
    border-radius: 0.3125rem;
  }

  //* 觀看狀態切換按鈕(子項目)
  &__status-btn {
    padding: 0.5em 1.2em;
    font-weight: bold;
    border: 1px solid map-get($color, tertiary);
    transition: background-color map-get($transition, 300);
    @include sm {
      @include text(xs);
    }
    @include hover-query {
      &:hover {
        @include hover-bg-color(map-get($color, tertiary));
      }
    }
    // status-btn 的 active 狀態
    &.active {
      animation: none ;
      background-color: map-get($color, tertiary);
    }
    // 閃爍
    &.flashing-animation {
      animation: flashing map-get($transition, 1200);
    }
    // 最後一個 status-btn
    &:last-child {
      border-left: 0;
    }
  }
}
