// 元素橫向左右移動
@keyframes x-moving {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(75%);
  }
}

// 用於 MovieCard 卡片出現的效果
@keyframes scale {
  from {
    opacity: 0.3;
    transform: scale(0.5);
  }
}

// 讓元素以「淡出+下滑」的方式顯示
@keyframes show {
  50% {
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

// 淡入(使用於 .movies)
@keyframes fade-in {
  from {
    opacity: 0;
    // visibility: hidden;
  } to {
    opacity: 1;
    // visibility: visible;
  }
}