@keyframes move-x {
  from{
    transform: translateX(0%);
  }to{
    transform: translateX(75%);
  }
}

@keyframes scale {
  // 0%{
  //   transform: scale(0.5);
  // }

  100%{
    transform: scale(1);
  }
}