// 元素橫向左右移動
@keyframes x-moving {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(75%);
  }
}

// 用於 MovieCard 卡片出現的效果
@keyframes scale {
  from {
    opacity: 0.3;
    transform: scale(0.5);
  }
}

// 讓元素以淡出下滑的方式顯示
@keyframes show {
  50% {
    transform: translateY(0);
  }
  
  100%{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
