//@ 存放 .watchcards、.watchcard
@use "../../scss/abstracts" as *;

//* .watchcards 卡片佈局設定
// 卡片之間的 column-gap
$watchcards-column-gap: 1.25rem;
// 每列在特定斷點分別要容納幾張卡片?
$watchcards-card-amount: (
   default: 6,
   xl: 5,
   lg: 4,
   md: 3,
   sm: 2,
);
// 每列在特定斷點分別有幾個 gap?
$watchcards-gap-amount: (
   default: 5,
   xl: 4,
   lg: 3,
   md: 2,
   sm: 1,
);

.watchcards {
   @include cards($watchcards-column-gap);
}

.watchcard {
   $block: &;
   @include card($watchcards-column-gap, $watchcards-card-amount, $watchcards-gap-amount);
   @include flex($dir: column);
   position: relative;
   overflow: hidden;
   background-color: map-get($color, secondary);
   animation: scale map-get($transition, 500);
   // 螢幕 < md 時套用 hamburger bar @mixin
   @include hamburger(
      $width: 0.875rem,
      $line-thickness: 0.125rem,
      $line-gap: 0.1875rem,
      $line-color: map-get($color, secondary)
   );

   //* watchcard__option-btn
   &__option-btn {
      @include text(base);
      @include card-btn;
      @include hover-query {
         &:hover {
            @include hover-bg-color(map-get($color, tertiary));
         }
      }
      // active 狀態
      &.active {
         // 控制 .watchcard__btns 內的每一個子元素(.watchcard__btn)位移
         & ~ #{$block}__btns {
            visibility: visible;
            opacity: 1;
            & > :nth-child(1) {
               transform: translateX(-150%) scale(1);
            }
            & > :nth-child(2) {
               transform: translate(-125%, 125%) scale(1);
            }
            & > :nth-child(3) {
               transform: translateY(150%) scale(1);
            }
         }
         // 在 watchcard__option-btn 後面的 .watchcard__img 顯示暗色遮蓋
         & ~ .watchcard__img::before {
            opacity: 1;
            visibility: visible;
         }
      }
   }

   //* img 容器
   &__img {
      width: 100%;
      height: 100%;
      // 暗色遮蓋
      &::before {
         content: "";
         position: absolute;
         inset: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.7);
         opacity: 0;
         visibility: hidden;
         transition: map-get($transition, 300);
         transition-property: visibility, opacity;
      }
      // <img />
      img {
         border-radius: map-get($border-radius, md);
      }
   }

   //* watchcard__movie-poster
   &__movie-poster {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
   }

   //* watchcard__title
   &__title {
      @include ellipsis-text(1);
      @include text(base);
      position: relative;
      margin-top: 1rem;
      color: map-get($color, primary);
   }

   //* watchcard__btns
   &__btns {
      position: absolute;
      z-index: 1;
      right: 5%;
      top: 5%;
   }

   //* watchcard__btn
   &__btn {
      @include rounded-full;
      @include flex($jc: center, $ai: center);
      @include text(lg);
      position: absolute;
      z-index: -10;
      right: 0;
      padding: 0;
      width: 2.8125rem;
      height: 2.8125rem;
      background-color: map-get($color, tertiary);
      transform: translate(0) scale(0);
      transition: map-get($transition, 300);
      transition-property: transform, opacity, visibility;
      @include hover-query {
         &:hover {
            // hover 時，將背景顏色暗化
            @include hover-bg-color(map-get($color, tertiary));
         }
      }
      @include xs {
         width: 2.5rem;
         height: 2.5rem;
      }
      // watchcard__btn 內的 <i> tag
      i {
         pointer-events: none;
         font-weight: bold;
         color: map-get($color, secondary);
      }
   }
}
