//@ 存放搜尋結果容器、搜尋結果項目
@use "../../scss/abstracts" as *;

//- 定義 DetailCard 內在 breakpoiint sm 的卡片布局
$search-results-column-gap: 1.25rem;

$search-results-amount: (
  md: 3,
  sm: 2,
);
$search-results-gap-amount: (
  md: 2,
  sm: 1,
);

//* 搜尋結果容器
.search-results {
  margin-top: 3rem;
  @include md {
    @include flex($wrap: wrap);
    column-gap: $search-results-column-gap;
    row-gap: 2rem;
  }
}

//* 搜尋結果項目
.search-result {
  $block: &;
  @include flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid map-get($color, light-gray);
  @include md {
    position: relative;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    border-bottom: 0;
    max-width: calc(
      (100% / map-get($search-results-amount, md)) -
        ($search-results-column-gap * map-get($search-results-gap-amount, md) / map-get($search-results-amount, md))
    );
    animation: scale map-get($transition, 500);
  }
  @include sm {
    max-width: calc(
      (100% / map-get($search-results-amount, sm)) -
        ($search-results-column-gap * map-get($search-results-gap-amount, sm) / map-get($search-results-amount, sm))
    );
  }

  //* 圖片連結
  &__img-link {
    height: 100%;
    @include md {
      position: relative;
    }
  }

  //* 電影圖片(poster)
  &__poster {
    width: 10.3125rem;
    height: 100%;
    align-self: start;
    @include md {
      border-radius: map-get($border-radius, base);
      width: 100%;
    }
  }

  //* 文字部分
  &__texts {
    @include flex($dir: column);
    row-gap: 1rem;
    margin-left: 2rem;
    @include md {
      margin-left: 0;
      margin-top: 1.5rem;
      transition: map-get($transition, 300);
      // 預設會先套用 hide class，確保圖片 onload 後才顯示
      &.hide {
        visibility: hidden;
        opacity: 0;
      }
    }
    #{$block}__link {
      align-self: flex-start;
    }
  }

  //* 圖片連結
  &__link {
    flex-shrink: 0;
  }

  //* 電影名稱
  &__title {
    h3 {
      @include text(2xl);
      @include ellipsis-text(1);
      @include md {
        @include text(base);
      }
    }
  }

  //* genres-tag 容器
  &__genres-tags {
    @include md {
      display: none;
    }
  }

  //* 電影資訊(上映日期、評等、時長)
  &__info {
    @include flex;
    @include text(sm);
    @include md {
      display: none;
    }
    & > p:not(:first-child) {
      i {
        margin-left: 1rem;
        @include sm {
          margin-left: 0;
        }
      }
    }
  }

  //* 評等、電影時長
  &__vote,
  &__runtime {
    @include md {
      display: none;
    }
  }

  //* 按鈕(add watchlist 按鈕)
  &__btn {
    @include text(sm);
    margin-top: auto;
    align-self: flex-start;
    @include md {
      // 斷點在 md 以下才套用 card-btn 樣式
      @include card-btn;
      margin-top: 0;
      font-size: 0; // 隱藏 .detail-card__btn 的文字部分
      transition: map-get($transition, 150);
      transition-property: transform;
      &.hide {
        // 預設會先套用 hide class，確保圖片 onload 後才顯示
        transform: scale(0);
      }
    }
    // +號 icon
    & > i {
      margin-right: 0.75rem;
      @include md {
        font-size: initial; // 在 .detail-card__btn 內的 md 斷點有將 font-size 變為 0，但仍需要保留此 icon，故設定成 initial
        margin-right: 0;
      }
    }
  }
}
